<section class="bottom-line is-revealing">
  <div class="container-sm">
      <div class="section-inner flex-container">
          <div class="flex-item feature-description text-justify">
              <h3>
                Bottom line:</br>
                <span class="accent-purple">ResellRabbit</span> helps automate your <span class="accent-purple">Poshmark outreach</span> so you have <span class="accent-purple">more time to reinvest</span> back into your business.</h3>
          </div>
      </div>
  </div>
</section>