<div class="cta card">
  
  <div class="flex-container flex-align-center">
    <div class="">
      <p><b><i>Psst,</i></b> I made a tool that helps Poshmark sellers make more sales without spending more of their personal time
      </p>
      <!-- <p>Use code WELCOME10 for 10% off your first month.</p> -->
    </div>
    <div class="right text-center flex-item">
      <a href="{{ site.url }}" class="button button-three button-shadow">Try it out for free</a>
      <p class="description mt-8 mb-8">(No signup needed!)</p>
    </div>
  </div>

</div>