
<div class="container has-top-divider">
    <h2 class="feature-header text-center is-revealing">How it works 👇</h2>
</div>

<section class="feature section is-revealing">
    <div class="container-sm">
        <div class="feature-inner section-inner flex-container">
            <div class="flex-item feature-illustration">
                <img src="/src/img/feature_1.png" alt="Automatically self-shares">
            </div>
            <div class="flex-item feature-description text-justify">
                <h2 class="feature-title">Auto self-shares</h2>
                <p class="feature-paragraph">
                    Use ResellRabbit to automate sharing your entire closet as many times as wanted throughout the day
                </p>
            </div>
        </div>
    </div>
</section>

<section class="feature section is-revealing">
    <div class="container-sm">
        <div class="feature-inner section-inner flex-container">
            <div class="flex-item feature-illustration">
                <img src="/src/img/feature_2.png" alt="Boost visibility">
            </div>
            <div class="flex-item feature-description text-justify">
                <h2 class="feature-title">Boosts visibility</h2>
                <p class="feature-paragraph">
                    Push your listings to the top of search results, which is where most sales are started
                </p>
            </div>
        </div>
    </div>
</section>

<section class="feature section is-revealing">
    <div class="container-sm">
        <div class="feature-inner section-inner flex-container">
            <div class="flex-item feature-illustration">
                <img src="/src/img/feature_3.png" alt="Automate sharing your items.">
            </div>
            <div class="flex-item feature-description text-justify">
                <h2 class="feature-title">Schedules sharing</h2>
                <p class="feature-paragraph">
                    Strategically choose and test share times that capture the most traffic for your closet
                </p>
            </div>
        </div>
    </div>
</section>

<section class="feature section is-revealing">
    <div class="container-sm">
        <div class="feature-inner section-inner flex-container">
            <div class="flex-item feature-illustration">
                <img src="/src/img/feature_4.png" alt="Solves captchas">
            </div>
            <div class="flex-item feature-description text-justify">
                <h2 class="feature-title">Solves CAPTCHAs</h2>
                <p class="feature-paragraph">
                    ResellRabbit is smart enough to automatically solve CAPTCHAs right out of the box, no configurations necessary
                </p>
            </div>
        </div>
    </div>
</section>

<section class="feature section is-revealing">
    <div class="container-sm">
        <div class="feature-inner section-inner flex-container">
            <div class="flex-item feature-illustration">
                <img src="/src/img/feature_5.png" alt="Built to be safe">
            </div>
            <div class="flex-item feature-description text-justify">
                <h2 class="feature-title">Built to be safe</h2>
                <p class="feature-paragraph">
                    Our technology mimics the sharing behavior of a human virtual assistant, and we also <b>DO NOT</b> read or store your sensitive Poshmark data like your login information or even your closet name
                </p>
            </div>
        </div>
    </div>
</section>

<section class="feature section is-revealing">
    <div class="container-sm">
        <div class="feature-inner section-inner flex-container">
            <div class="flex-item feature-illustration">
                <img src="/src/img/feature_6.png" alt="Designed to be simple">
            </div>
            <div class="flex-item feature-description text-justify">
                <h2 class="feature-title">Designed to be simple</h2>
                <p class="feature-paragraph">
                    All you need to do is open your Poshmark closet on your computer, activate ResellRabbit, then sit back and enjoy the rest of your day ☕
                </p>
            </div>
        </div>
    </div>
</section>


