<form class="gform" name="referral-program-form" action="https://script.google.com/macros/s/AKfycbxlxF43VfC74ALRbyUPezoaqLCBVfjL5qxJPwQItGjGjfF8HqnHP4qDM6Y1hVBul1BY/exec">
  <div class="field field-grouped ">
      <div class="control control-expanded">
        <input class="input" type="email" name="email" placeholder="Fill in your email associated with your ResellRabbit account&hellip;">
      </div>
      <div class="control">
          <button type="submit" class="button button-primary button-block button-shadow">
              <a class="" href="{{ '/pricing' | relative_url }}">Apply now</a>
          </button>
      </div>
  </div>
  <div class="checkbox-container">
      <div class="thankyou hidden">
          <b>Thanks! 😊</b>
      </div>
  </div>
  <div class="hidden">
      <input class="honeypot" type="text" name="honeypot" value="" />
  </div>
</form>