<section class="hero hero-home">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-main text-center mb-48">
                <h1 class="hero-title h2-mobile is-revealing">Upgrade your resell hustle</h1>
                <p class="hero-paragraph is-revealing">
                    Automate Poshmark tasks with ResellRabbit, easy and simple.
                </p>
                <div class="hero-form is-revealing">
                    <div class="control">
                        <a href="{{ site.chromelink }}" target="_blank" class="button button-primary button-shadow">
                            Add to Chrome - Start Free</a>
                    </div>
                    <p class="description">No CC or login needed to start</p>
                </div>
            </div>
            <div class="hero-illustration">
                <img id="hero" src="/src/img/hero.gif" alt="Screenshot of ResellRabbit">
            </div>
        </div>
    </div>
</section>