
<section class="newsletter section">
  <div class="container-sm has-top-divider">
      <div class="newsletter-inner section-inner">
          <div class="newsletter-header is-revealing">
              <h2 class="section-title mt-0">We plan to build more tools for you</h2>
              <p class="section-paragraph">We're quickly working on building new tools for Poshmark resellers. Drop your email to be kept in the loop with what we come out with!</p>
          </div>
          <div class="footer-form newsletter-form is-revealing">
            <form class="gform" name="submit-to-invites-signup" action="https://script.google.com/macros/s/AKfycbwXuIekxvdPMU2Ru1AE4exJFMdXfvec4vQC5q80JpH6kdRk99NC-uo1h9znJqR-cmVW-Q/exec">
                <div class="field field-grouped ">
                    <div class="control control-expanded">
                        <input class="input" type="email" name="email" placeholder="Your best email&hellip;">
                    </div>
                    <div class="control">
                        <button type="submit" class="button button-primary button-block button-shadow">
                            <a class="" href="{{ '/pricing' | relative_url }}">Get insider access</a>
                        </button>
                    </div>
                  </div>
                  <div class="checkbox-container">
                      <input name="optin" type="checkbox" class="checkbox" id="optin-newsletter" value="feature-optin">
                      <label for="optin-newsletter" class="checkbox-label">I'm interested in getting early access to new features <span class="emoji">🔓</span></label>
                      <div class="thankyou hidden">
                        <b>Thanks, we'll get back to you soon! 😊</b>
                    </div>
                  </div>
                  <div class="hidden">
                    <input type="checkbox" value="newsletter" name="template" checked>
                  </div>
                  <div class="hidden">
                      <input class="honeypot" type="text" name="honeypot" value="" />
                  </div>
            </form>
        </div>
      </div>
  </div>
</section>