<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- Use 'has-animations' class for animate on load. -->
<body class="is-boxed has-animations">
    <div class="body-wrap">

        {% include header.html %}

        <main>

        {% if page.template == 'home' %}

        {% include hero.html %}

        {% include features.html %}

        {% include bottomline.html %}

        {% include newsletter.html %}

        {% else %}

        {{ page.content }}
        
        {% endif %}

        </main>

        {% include footer.html %}

    </div>

    <script src="{{ 'src/js/main.js' | relative_url }}"></script>
    <script src="{{ 'src/js/form-submission.js' | relative_url }}"></script>
</body>
</html>
