.site-footer {
    @include font-size(8, mobile, true, true, true);
    @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(8, desktop, true, true, true);
        }
    }
    color: color(main, white);
    background: color(main, coral-pink);

    a {
        @include anchor-aspect(footer);
    }
}

.site-footer-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-links,
.footer-social-links,
.footer-copyright {
    color: color(main, white);
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    font-weight: bold;
}

.footer-brand,
.footer-links,
.footer-social-links,
.footer-links {
    margin-bottom: 24px;
}

.footer-links,
.footer-social-links {

    li {

        + li {
            margin-left: 16px;
        }
    }
}

.footer-social-links {

    li {
        display: inline-flex;

        a {
            padding: 8px;
        }
    }
}

.footer-site-links {
    li {
        margin-bottom: 8px;
        
        a {
            color: color(main, white);
            font-weight: bold;

            &:hover {
                color: color(main, white);
                text-decoration: none;
            }
        }
    }
}

.footer-links {

    a {
        color: color(main, white);
        font-weight: bold;

        &:hover {
            color: color(main, white);
            text-decoration: none;
        }
    }
}

@include media( '>medium' ) {

    .site-footer-inner {
        justify-content: space-between;

        .flex-end {
            width: 50%;
        }
    }

    .footer-social-links {
        flex: 100%;
    }

    .footer-links,
    .footer-copyright {
        flex: 50%;
    }


    .footer-links,
    .footer-social-links,
    .footer-brand,
    .footer-copyright  {
        justify-content: flex-end;
    }

    .footer-links {
        order: 1;
    }
}
