.is-boxed {
    background: color(bg, 1);
}

.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

main {
    flex: 1 0 auto;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

@include media( '>medium' ) {

    main {
        padding: 0 0 60px 0;
    }

    .section-inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/* Align the page content vertically */
@include media( '>large' ) {

    main {
        align-items: center;
    }

    .hero {
        width: 100%;
    }

    .content .container {
        max-width: 680px;
    }
}
