.signup-form input[name="passwordver"] {
  display: none;
}

@include media( '>medium' ) {

  .flex-container {
    align-items: center;
  }

  .signup-left, .login-left {
    margin-right: 40px;
  }
}